.DS_Store
*.log
*.map

dist

node_modules
package-lock.json
npm-shrinkwrap.json

# Docusaurus
lib/core/metadata.js
lib/core/MetadataBlog.js

.vscode/

website/translated_docs
website/build/
website/yarn.lock
website/i18n/*
